html {
        
        scroll-behavior: smooth;

}

body {
      width: 100%;
      height: 100%;

      overflow: scroll;

      padding: 0;
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 12em;

      margin: 0;
      font-family: 'Inter';
      font-style: normal;
      color: #0f0f0f;
      background-color: #ffffff;
      
      transition:all 0.3s ease;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

@keyframes slideUp {
  0% {
    bottom: 0em;
    opacity: 1;
  }
  100% {
    bottom: 1em;
    opacity: 1;
  }
}

.hide {
      display: none;
}

.fixed {
      overflow: hidden;
}

.project {
      padding-bottom: 24em;
}

#work {

      overflow: scroll;
           
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.color-santander {
      color: #DE2A2A;
}


.container h2 {
font-size: 1em;
      font-weight: 400;
  grid-area: header;
}

.navigation {


      animation: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4) slideUp;


      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      position: fixed;
      left: 2.4em;
      bottom: 1em;
      z-index: 1;

      width: auto;

      left: 50%;
      transform: translate(-50%, -50%);

      background: #ffffff;
      padding: 1.2em;
      padding-top: 1.2em;
      padding-bottom: 1.2em;
      border-radius: 0.8em;
      box-shadow: 16px 24px 40px rgba(0, 0, 0, 0.12);
}

.static {
      position: static;
      margin-left: 2.4em;
      padding-top: 3em;
}

.active {
      color: #0f0f0f;
}


a.primary {
      opacity: 1;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      color: #0f0f0f;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.4em;
      padding-right:  1.4em;
      background-color: #ffffff;
      border-radius: 0.8em;
      box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.16);
      z-index: 2;
}

a.primary:hover {
      font-size: 2em;
      color: #ffffff;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.4em;
      padding-right:  1.4em;
      background-color: #0047FF;
      border-radius: 0.8em;
}

a.secondary {

      animation: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4) slideUp;
      position: fixed;
      bottom: 1em;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1em;
      color: #0f0f0f;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.4em;
      padding-right:  1.4em;
      background-color: #ffffff;
      border-radius: 0.8em;
      box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.16);
      z-index: 2;
}

a.secondary:hover {
      font-size: 1em;
      color: #777777;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.4em;
      padding-right:  1.4em;
      background-color: #ffffff;
      border-radius: 0.8em;
}

a {
      font-size: 1em;
      color: #777777;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.2em;
      padding-right:  1.2em;
      background-color: none;
      border-radius: 4px;
        -webkit-transition: all 0.16s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.16s cubic-bezier(0.165, 0.84, 0.44, 1);

}

a:hover {
      font-size: 1em;
      color: #0f0f0f;
      text-decoration: none;
      line-height: 1em;
      padding: 1em;
      padding-left:  1.2em;
      padding-right:  1.2em;
      background-color: #ffffff;
      border-radius: 4px;
}


.icon-close {
      top:  4em;
      right:  4em;
      position: fixed;
      width:  2em;
      height:  2em;
      border-radius: 0.5em;
      padding:  0.5em;
      background: #FFFFFF;
      box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.16);
}

.icon-close:hover {
      top:  4em;
      right:  4em;
      position: fixed;
      width:  2em;
      height:  2em;
      border-radius: 0.5em;
      padding:  0.5em;
      background: #FFFFFF;
      box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.24);
      transform: scale(1.05);

}

.icon-close img {
      width: 2em;
      height: 2em;
}


.container h1 {
font-size: 4em;
line-height: 1.4em;
      font-weight: 400;
  align-self: center;
  grid-area: main;
}

.container p {
  align-self: end;
  grid-area: footer;
}

.line {
      height:  100%;
}

.container {
      margin: 0;
      padding: 3em;
      width: 100%;
      height: 100%;
      position: fixed;
      background: none;
  display: grid;
z-index: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header nav nav"
    "main main . ."
    "footer . . .";

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.bg {
      width: 100%;
      height: 100%;
      display: grid;
      z-index: 0;

  filter: blur(24px);
opacity: 0.4;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.48s cubic-bezier(0.165, 0.84, 0.44, 1);

transform: scale(0.96);


}

video {
width:  32%;
  align-self: center;
  justify-self: center;
border-radius: 0px;
}

.container:hover + .bg {
opacity: 0.8;
  filter: blur(0px);
  cursor: pointer;
  border-radius: 0px;
  transform: scale(1);



}



.profile {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
}

.profile .content {
      display: grid;
      grid-template-rows: 1fr 1fr;
      box-sizing: border-box;
      padding: 4em;
      height: 100vh;
}

.profile .content h3 {
      line-height: 1.6em;
      font-weight: 400;
      width: 80%;
      margin-top: 0;
}

.profile .content h1 {
      font-size: 3em;
      line-height: 1.4em;
}

.profile .content video {
      align-self: center;
      display: none;

}

.profile .content p {
      width: 60%;
      font-size: 1em;
      align-self: end;
}

.profile .images {
      display: grid;
      box-sizing: border-box;
      padding: 0.5em;
      height: 100vh;
}

.profile .images video {
width:  100%;
height: 100%;
box-sizing: border-box;
align-self: center;
justify-self: center;
object-fit: cover;
object-position: top;
border-radius: 2em;

}


.profile .content video {
width:  100%;
height: 75%;
box-sizing: border-box;
align-self: center;
justify-self: center;
object-fit: cover;
object-position: top;
border-radius: 2em;

}

.intro {
      width:  100%;
      padding: 4em;
      padding-bottom: 0;
      margin-bottom: -4em;
      display: grid;

      box-sizing: border-box;
}

.intro h2 {
display: grid;
float: left;
width: 100%;
grid-column: 1;
grid-row:  1;
font-size: 1.5em;
line-height: 1.5em;
font-weight: 500;
margin-top: 0em;
margin-bottom: 0em;
}

.intro h1 {
grid-column: 1 / span 3;
grid-row:  2;
font-size: 4em;
line-height: 1.2em;
font-weight: 400;
margin-top: 2em;
margin-bottom: 0.5em;
}




.intro .logo {
width: 2em;
height: 2em;
padding: 1em;
font-weight: 400;
border-radius: 0;
      grid-column: 1;
}

.text-center {
      display: grid;
      width: 100%;
      height: auto;
      padding-top: 24em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      box-sizing: border-box;
}

.text-center div {
      grid-column: 2 / span 2;
}

.text-center img {
      grid-column: 2 / span 2;
display: grid;
width:  100%;
box-sizing: border-box;
align-self: center;
justify-self: center;
 border-radius: 2em;
}

.credits {
      display: grid;
      width: 100%;
      height: auto;
      padding-top: 6em;
      padding-bottom: 12em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      box-sizing: border-box;
}

.meta {

      border-top: 1px solid #F4F4F4;
      padding-top: 6em;
      grid-column: 2 / span 2;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-columns: 1fr 1fr 1fr;
}



h4 span {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.8em;

      text-transform: none;
      letter-spacing: 0;
      font-weight: 800;
      margin: 0;
      margin-bottom: 24px;
      
      color: #;
}

.image-gallery {
      display: grid;
      width: 100%;
      height: auto;
      grid-column: 1 / span 4;
      padding: 12em;
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8em;
      grid-row-gap: 8em;
      align-content: center;  
      justify-content: center;

      box-sizing: border-box;


  grid-template-areas: 
    "first third"
    "second third";
}

.image-gallery img {
display: grid;
width:  100%;
box-sizing: border-box;
align-self: center;
justify-self: center;
 border-radius: 2em;

}

.image-gallery img:nth-child(1) {
      grid-area: first;
}

.image-gallery img:nth-child(2) {
      grid-area: second;
}

.image-gallery img:nth-child(3) {
      grid-area: third;
}

.image-gallery div {

width:  100%;
height: auto;
box-sizing: border-box;
align-self: stretch;
justify-self: center;

}


.thumbnail-gallery {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 16em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2em;
      grid-row-gap: 1em;
      -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.thumbnail-gallery div a {
      background-color: #0f0f0f;
      padding: 0;
      margin: 0;
      border-radius: 8em;

}

.thumbnail-gallery div a img:hover {
      opacity: 0.8;
}

.thumbnail-gallery img {
      background-color: #0f0f0f;
display: grid;
width:  100%;
box-sizing: border-box;
align-self: center;
justify-self: center;
      border-radius: 1em;

}

.thumbnail-gallery p {
      padding-top: 1.5em;
}

.image-cover {
      display: grid;
      width: 100%;
      height: auto;
      padding-top: 12em;
      grid-column: 1 / span 4;
      box-sizing: border-box;
border-radius: 4em;
}


.image-cover img {
width:  100%;
padding: 1em;
box-sizing: border-box;
align-self: center;
justify-self: center;
object-fit: cover;
object-position: top;
border-radius: 4em;

}


h4 {
      opacity: 0.4;
      font-weight: 500;
      font-size: 0.9em;
      margin: 0;
      margin-bottom: 24px;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

body { font-size: 14px; }
.image-cover { padding-top: 8em; }
.text-center { padding-top: 8em; grid-template-columns: 1fr; padding-left: 4em; padding-right: 4em; }
.credits { grid-template-columns: 1fr; padding-left: 4em; padding-right: 4em; }
.credits .meta { grid-column: 1; }


.profile {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      box-sizing: border-box;
}

.profile .content video {
      display: grid;
}

.profile .content p {
      display: none;
}

.profile .images {
      display: none;
}

.intro h1 {
grid-column: 1 / span 4;
grid-row:  2;
font-size: 4em;
line-height: 1.2em;
font-weight: 400;
margin-top: 1em;
margin-bottom: 0.5em;
}



.image-gallery {
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 2em;
      grid-row-gap: 4em;
      grid-template-areas: 
      "first"
      "second"
      "third";
}

.thumbnail-gallery {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 8em;
      grid-template-columns: 1fr;
      grid-column-gap: 2em;
      grid-row-gap: 4em;
}


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

body { font-size: 14px; }
.image-cover { padding-top: 12em; }
.text-center { padding-top: 12em; }

.image-gallery {
      grid-column: 1 / span 4;
      padding: 8em;
      padding-top: 12em;
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4em;
      grid-row-gap: 4em;
}

.thumbnail-gallery {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 8em;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2em;
      grid-row-gap: 2em;
}


} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

body { font-size: 14px; }
.image-cover { padding-top: 8em; }
.text-center { padding-top: 8em; }

.image-gallery {
      grid-column: 1 / span 4;
      padding: 8em;
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4em;
      grid-row-gap: 4em;
}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

body { font-size: 14px; }
.image-cover { padding-top: 12em; }
.text-center { padding-top: 12em; }


.image-gallery {
      grid-column: 1 / span 4;
      padding: 12em;
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4em;
      grid-row-gap: 4em;
}

.thumbnail-gallery {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 8em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 4em;
      grid-row-gap: 4em;
}


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

body { font-size: 14px; }
.image-cover { padding-top: 12em; }
.text-center { padding-top: 12em; }


.image-gallery {
      grid-column: 1 / span 4;
      padding: 12em;
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8em;
      grid-row-gap: 8em;
}

.thumbnail-gallery {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      grid-column: 1 / span 4;
      padding: 4em;
      padding-top: 8em;
      padding-bottom: 8em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 4em;
      grid-row-gap: 4em;
}
}