




/*      
Global styles    */

html {
      height: 100%;
      padding: 0;
      margin: 0;
}

@font-face {
      font-family: 'Cormorant', serif;
      font-weight: 400;
    font-style: normal;
}


body {
      width: 100%;
      min-height: 100%;
      padding: 0;
      font-size: 16px;

      margin: 0;
      font-family: 'Cormorant', serif;
		font-style: normal;
      color: #ffffff;
      
      transition:all 0.3s ease;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

a {
      text-decoration: none;
}


a:hover {
      color: #BFBFBF;
}

* {
      box-sizing: border-box;
}

b {
      font-family: 'Archivo', sans-serif;
      font-weight: 600;
      font-size: 0.8em;
      display: inline;
}


/*      Colours     */

.black { background-color: #0f0f0f; color: #ffffff; }
.black a { color: #ffffff; }
.black a:hover { color: #3C3C3C; }

.grey { background-color: #B1B1B1; color: #0f0f0f; }
.grey a { color: #0f0f0f; }
.grey a:hover { color: #3C3C3C; }

.orange { background-color: #D57734; color: #0f0f0f; }
.orange a { color: #0f0f0f; }
.orange a:hover { color: #3C3C3C; }

.beige { background-color: #8E7D38; color: #0f0f0f; }
.beige a { color: #0f0f0f; }
.beige a:hover { color: #3C3C3C; }


.purple { background-color: #545bd6; color: #0f0f0f; }
.purple a { color: #0f0f0f; }
.purple a:hover { color: #3C3C3C; }

.blue { background-color: #3D3AB5; color: #0f0f0f; }
.blue a { color: #0f0f0f; }
.blue a:hover { color: #3C3C3C; }

.pink { background-color: #D082EC; color: #0f0f0f; }
.pink a { color: #0f0f0f; }
.pink a:hover { color: #3C3C3C; }

.yellow { background-color: #CA8124; color: #0f0f0f; }
.yellow a { color: #0f0f0f; }
.yellow a:hover { color: #3C3C3C; }

.brown { background-color: #944508; color: #0f0f0f; }
.brown a { color: #0f0f0f; }
.brown a:hover { color: #3C3C3C; }

/*      Header     */

.header {
      position: fixed;
      width: 100%;
      padding: 2em;
      height: 4em;
}

.minimized { display: block; }

.header .dot {
      width: 2em;
      height: 2em;
      border-radius: 2em;

      -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


      transform: scale(1);
}

.dot:hover {
      transform: scale(1.2);
}




.Navigation {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: center;

      font-size: 2em;
      line-height: 2em;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
}




/*      Home     */

.home {

      height: auto
      display: grid;
      justify-items: center;
      align-items: center;



      grid-column-start: auto;
      grid-row-start: auto;
      overflow: hidden;

      grid-row-gap: 1em;


      grid-template-columns: auto;
      grid-template-rows: auto;



      width: 100%;
}

.description {
      width: 100%;
      text-align: left;
      padding-left: 4%;
      padding-right: 4%;
      font-size: 1.5em;
      line-height: 1.2em;

      vertical-align: center;
      align-content: center;
      text-align: center;

      min-height: 100%;

      z-index: -1;

      padding-top: 0.5em;


}

.footer {
      padding-top: 4em;
      padding-bottom: 6em;
      padding-left: 4%;
      padding-right: 4%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 4em;
      grid-row-gap: 4em;
      vertical-align: center;
      align-content: left;
      text-align: left;
      line-height: 1.5em;
}

.footer b {
      display: block;
      margin-bottom: 1em;
}

.grid-two {
      z-index: 1;
      padding-top: 2em;
      padding-left: 4%;
      padding-right: 4%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 4em;
      grid-row-gap: 4em;
      vertical-align: center;
      align-content: center;
      text-align: center;
}

.grid-one {
      padding-top: 2em;
      padding-left: 4%;
      padding-right: 4%;

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 4em;
      grid-row-gap: 4em;
      vertical-align: center;
      align-content: center;
      text-align: left;
}


.grid-two .item {
      justify-items: center;
      align-items: center;
      margin-bottom: 4em;
}

.item img {

      -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


      transform: scale(1);
}

.item img:hover {
      transform: scale(1.05);
}

.tall {
      padding-top: 3em;
      padding-bottom: 3em;
}

.grid-two .item img {
      width: 100%;
      vertical-align: center;
}

.mobile {
      padding-left: 4em;
      padding-right: 4em;
}

.grid-two .item .screen {
      width:100%;
      padding-left: 6em;
      padding-right: 6em;


      padding-top: 6em;
      padding-bottom: 6em;
}

.logo {
      display: grid;
      justify-items: center;
      align-items: center;

      background-color: #997F42;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

.art { 
      display: grid;
      justify-items: center;
      align-items: center;

      background-color: #F55623;
      grid-column: 1;
      grid-row: 2;
}

.nav {
      display: grid;
      grid-column: 2;
      grid-row: 1 / 3;
}

.nav a {
      display: block;
}

.logo img {
      width: 12em;
      vertical-align: middle;
      display: none;
}

.graphic {
      background-color: #0f0f0f;
      width: 6em;
      height: 6em;
      border-radius: 6em;
}

.fixed {
      position: fixed;

      z-index: -1;
}



/*      About     */

.about {
      padding-left: 0.8em;
      padding-right: 1em;
      min-height: 100%;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: left;

      font-size: 2.5em;
      line-height: 1.2em;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;

      grid-column-gap: 2em;
      grid-row-gap: 2em;
}

.introduction {
      padding-left: 4%;
      padding-right: 12em;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: left;

      font-size: 1.6em;
      line-height: 1.2em;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;

      grid-column-gap: 2em;
      grid-row-gap: 2em;

      height: 90%;
}

.about img { display: inline; }




/*      Moodboard     */

.moodboard {
      padding: 2em;
      height: auto;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: center;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      grid-column-gap: 2em;
      grid-row-gap: 2em;
}




/*      Work     */

.work {
      padding: 4em;
      height: auto;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: center;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      grid-column-gap: 4em;
      grid-row-gap: 4em;
}

.project {
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;



      grid-column-start: auto;
      grid-row-start: auto;
      overflow: hidden;

      grid-row-gap: 1em;


      grid-template-columns: auto;
      grid-template-rows: 4fr 1fr;


      padding: 1em;
}

.thumbnail {
      display: grid;
      justify-items: center;
      align-items: center;
}

.thumbnail img {
      width: 18em;
}

.copy {
      display: none;
      justify-items: center;
      align-items: center;

      font-size: 1em;
      padding-left: 2em;
      padding-right: 2em;
}




/*      Article     */

.article {

      height: auto
      display: grid;
      justify-items: center;
      align-items: center;



      grid-column-start: auto;
      grid-row-start: auto;
      overflow: hidden;

      grid-row-gap: 1em;


      grid-template-columns: auto;
      grid-template-rows: auto;



      width: 100%;
}

.block {
      justify-items: center;
      align-items: center;
}

.article img {

      width: 100%;
}

.preamble {
      padding-left: 4em;
      padding-right: 4em;
      min-height: 100%;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: center;

      font-size: 3em;

      display: grid;

      grid-column-gap: 2em;
      grid-row-gap: 2em;
}

.bodytext {
      padding-top: 3em;
      padding-bottom: 3em;
      width: 50%;
      margin: 0 auto;
      vertical-align: center;
      align-content: center;
      text-align: center;

      font-size: 2em;

      display: grid;

      grid-column-gap: 2em;
      grid-row-gap: 2em;
}

.one {
      padding: 4em;

      height: auto;
      justify-items: center;
      align-items: center;
      text-align: left;

      font-size: 2em;
      line-height: 1.4em;
}

.full {
      padding-top: 3em;
      padding-bottom: 3em;
      height: auto;
      margin: 0 auto;
      justify-items: center;
      align-items: center;
      text-align: center;

      font-size: 2em;

      display: grid;

      grid-column-gap: 2em;
      grid-row-gap: 2em;

      grid-template-columns: 1fr;
}

.two {
      padding-top: 3em;
      padding-bottom: 3em;
      height: auto;
      margin: 0 auto;
      justify-items: center;
      align-items: center;
      text-align: center;

      font-size: 2em;

      display: grid;

      grid-row-gap: 2em;

      grid-template-columns: 1fr 1fr;
}

.three {
      padding-top: 4em;
      padding-bottom: 4em;
      height: auto;
      margin: 0 auto;
      justify-self: center;
      align-: center;
      text-align: center;

      font-size: 2em;

      display: grid;

      grid-row-gap: 2em;


      grid-template-columns: 1fr 1fr 1fr;
}




/*      Media queries     */

@media only screen and (max-width: 640px)  {
      .introduction { padding-top: 1em; padding-bottom: 1em; padding-right: 4%; height: 50%; }
      .article { padding-top: 6em; }
      .grid-two { display: block; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr); grid-row-gap: 1em; }
      .grid-two .item { margin-bottom: 2em; }
      .grid-two .item .screen { padding: 3em; }
      .mobile { padding: 2em; padding-top: 1em; padding-bottom: 1em; }
      .footer {  grid-template-columns: repeat(1, 1fr); }
      .one { padding-left: 2em; padding-right: 2em; }
      
      .thumbnail img { width: 100%; }
      .project { height: auto; }
      .moodboard { padding-top: 2em; grid-template-columns: 1fr; }
      .header .dot { width: 3em; height: 3em; border-radius: 3em; padding: 0.5em; }


}

